<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator SD</title>
    <link rel="stylesheet" href="/css/kalkulator.css">
</head>
<body>
    <div class="container">
        <div id="home" class="flex-column flex-center">
            <div id="brand">
                <img src="./images/calculator.png" alt="">
                <h1>Calculator</h1>
            </div>
            <div class="btn">
                <img class="logo" src="./images/maths.png" alt="">
                <a href="/kabatakucalc">KaBaTaKu</a>
            </div>
            <div class="btn">
                <img class="logo" src="./images/geometry(1).png" alt="">
                <a href="/bangundatarcalc">Bangun Datar</a>
            </div>
        </div>        
    </div>
</body>
</html>
</body>
</html>