<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathQuiz</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div id="home" class="flex-column flex-center">
            <div id="brand">
                <img id="Logo" src="./images/trophy.png" alt="mathquizlogo">
                <h1>MathQuiz</h1>
            </div>
            <div class="btn">
                <img class="logo" src="./images/maths.png" alt="">
                <a href="/kabataku">KaBaTaKu</a>
            </div>
            <div class="btn">
                <img class="logo" src="./images/geometry(1).png" alt="">
                <a href="/bangundatar">Bangun Datar</a>
            </div>
        </div>        
    </div>
</body>
</html>