<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div id="home" class="flex-column flex-center">
            <h1>Are you Ready?</h1>
            <a href="/kabataku" class="btn">Play KaBaTaKu Quiz</a>
            <a href="/bangundatar" class="btn">Play BD Quiz</a>
            <a href="/" class="btn">#7</a>
            <a href="/highscores" id="highscore-btn" class="btn">High Scores</a>
        </div>
    </div>
</body>
</html>